@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

@if (!Model.Reservations.Any())
{
    <h5 align="center">Currently you don't have any reservations.</h5>
}
else
{
    <ul>
        @foreach (var reservation in Model.Reservations)
        {
        <li class="reservation">
            <h5>@reservation.MovieName - <time datetime="@reservation.DateTime.ToString("O")"></time></h5>
            <button id="cancelBtn" onclick="confirmCancel('@reservation.Id')" class="btn btn-warning">Cancel/Delete</button>
            <div class="clearfix"></div>
        </li>
        }
    </ul>

}


<style>
    .reservation {
        background-color: #f2f2f2;
        width: 50%;
        padding: 10px;
        margin-bottom: 5px;
        border: 1px solid black;
        border-radius: 10px;
    }

    #viewTicket {
        color: forestgreen;
    }

    #cancelBtn {
        float: right;
    }

    ul {
        list-style-type: none;
    }

    .item {
        font-size: 20px;
    }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />

    <script>
        function confirmCancel(reservationId) {
            var confirmation = confirm("Are you sure you want to cancel your reservation?");

            if (confirmation == true) {
                window.location.replace(`/Reservations/Delete?id=${reservationId}`);
            }
        }
    </script>
}