@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

@if (!Model.Reservations.Any())
{
    <h5 align="center">Currently you don't have any reservations.</h5>
}
else
{
    <ul>
        @foreach (var reservation in Model.Reservations)
        {
        <li class="reservation">
            <h5>@reservation.MovieName - <time datetime="@reservation.DateTime.ToString("O")"></time></h5>
            <a href="/Reservations/Delete?id=@reservation.Id"><h6 id="delete">Cancel/Delete</h6></a>
        </li>
        }
    </ul>

}


<style>
    .reservation {
        background-color: #f2f2f2;
        width: 50%;
        padding: 10px;
        margin-bottom: 5px;
        border: 1px solid black;
        border-radius: 10px;
    }

    #viewTicket {
        color: forestgreen;
    }

    #delete {
        color: red;
    }

     a {
        color: black;
        text-decoration-color: black;
    }

        a:hover, a:visited, a:link, a:active {
            text-decoration: none;
            color: black;
        }

    ul {
        list-style-type: none;
    }

    .item {
        font-size: 20px;
    }
</style>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}