@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

@if (!Model.Reservations.Any())
{
    <h5 align="center">Currently you don't have any reservations.</h5>
}
else
{
    <ul>
        @foreach (var reservation in Model.Reservations)
        {
            <li>
                <h5>@reservation.MovieName - <time datetime="@reservation.DateTime.ToString("O")"></time></h5>
                <h5>Hall Number: @reservation.HallId</h5>
                <h5>Seats: @reservation.SelectedSeats</h5>
                <a href="/Reservations/Delete?id=@reservation.Id"><h6>Cancel/Delete</h6></a>
                <hr />
            </li>
        }
    </ul>

}


<style>
    ul {
        list-style-type: none;
    }

    .item {
        font-size: 20px;
    }
</style>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}