@model THECinema.Web.ViewModels.Managements.ManagementViewModel
@{
    this.ViewData["Title"] = "Manage";
}

<div class="clearfix">
    <div class="box" id="movies">
        <h4 align="center">Movies</h4>
        <ul>
            @foreach (var movie in Model.Movies)
            {
                <li class="item">
                    @movie.Name
                    <a class="fa fa-edit" href="/Administration/Managements/EditMovie?filmId=@movie.Id"></a>
                    <a class="fa fa-trash-alt" href="/Administration/Managements/DeleteMovie?filmId=@movie.Id"></a>
                </li>
            }
        </ul>
    </div>
    <div class="box" id="projections">
        <h4 align="center">Projections</h4>
        <ul>
            @foreach (var projection in Model.Projections)
            {
                <li class="item">
                    @projection.Movie.Name - @projection.ProjectionDateTime.ToLocalTime().ToString("dd/MM/yyyy HH:mm")
                    <a class="fa fa-edit" href="/Administration/Managements/EditProjection?id=@projection.Id"></a>
                    <a class="fa fa-trash-alt" href="/Administration/Managements/DeleteProjection?id=@projection.Id"></a>
                </li>
            }
        </ul>
    </div>
    <div class="box" id="halls">
        <h4 align="center">Halls</h4>
        <ul>
            @foreach (var hall in Model.Halls)
            {
                <li class="item">
                    Hall Number: @hall.Id
                    <a class="fa fa-trash-alt" href="/Administration/Managements/DeleteHall?id=@hall.Id"></a>
                </li>
            }
        </ul>
    </div>
</div>


<style>
    * {
        box-sizing: border-box;
    }

    #projections {
        float: left;
        width: 45%;
        padding: 30px;
    }

    #movies {
        float: left;
        width: 30%;
        padding: 30px;
    }

    #halls {
        float: left;
        width: 25%;
        padding: 30px;
    }

    .clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

    ul {
        list-style-type: none;
    }

    .item {
        font-size: 20px;
    }
</style>