body {
    text-align: center;
}

#confirmForm{
    margin-left: 5%;
}

.screen {
    width: 20%;
    height: 23px;
    background-color: #666666;
    color: #fff;
    line-height: 20px;
    font-size: 15px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
}

#infoBoxContainer {
    width: 12%;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
}

.smallBox::before {
    content: ".";
    width: 2em;
    height: 2em;
    display: inline;
    float: left;
    border: 1px solid black;
    border-radius: 2px;
}

.greenBox::before {
    content: "";
    background-color: forestgreen;
}

.redBox::before {
    content: "";
    background-color: #666666;
}

.emptyBox::before {
    content: "";
    background-color: lightgrey;
}


.separator {
    padding-left: 15px;
    padding-right: 15px;
}

#hall {
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}

div.form {
    display: inline-block;
    text-align: center;
}

form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.checkbox {
    position: relative;
    cursor: pointer;
    padding: 1em;
}

    .checkbox::selection {
        background: transparent;
    }

    .checkbox input + span {
        background-color: lightgrey;
        content: "";
        display: inline-block;
        border: 1px solid black;
        margin: -15px;
        margin-top: -125px;
        padding: 0;
        vertical-align: middle;
        width: 2em;
        height: 2em;
        transform: translate3d(0, 0, 0);
        -webkit-backface-visibility: hidden;
    }

        .checkbox input + span.taken {
            background-color: #666666;
            content: "";
            display: inline-block;
            border: 1px solid black;
            margin: -15px;
            margin-top: -125px;
            padding: 0;
            vertical-align: middle;
            width: 2em;
            height: 2em;
            transform: translate3d(0, 0, 0);
            -webkit-backface-visibility: hidden;
        }

        .checkbox input + span::after {
            content: "";
            display: block;
            transform: scale(0);
            transition: transform 0.2s;
        }


    .checkbox input:active + span {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
    }

    .checkbox input:focus + span {
        box-shadow: 0 0 0 3px lightblue;
    }

    .checkbox input:checked + span::after {
        transform: scale(1);
    }

    .checkbox input {
        position: absolute;
        cursor: pointer;
        opacity: 0;
    }

        .checkbox input + span {
            border-radius: 2px;
        }

            .checkbox input + span::after {
                background-color: forestgreen;
                background-size: contain;
                width: 2em;
                height: 2em;
            }
