* {
    box-sizing: border-box;
}

.box {
    float: left;
    width: 33.33%;
    padding: 50px;
}

#middleBox {
    float: left;
    width: 48.33%;
    padding: 50px;
}

#imgBox {
    float: left;
    width: 18.33%;
    padding: 50px;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

