@model THECinema.Web.ViewModels.Movies.IndexSimpleMovieViewModel
@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h4 class="display-4">Choose a Movie!</h4>
</div>

<hr />

<div class="row">
    @foreach (var movie in Model.Movies)
    {
        <div class="col-md-3 media">

            <a href="/Movies/Details/?filmId=@movie.Id">
                <img src="@movie.TrailerUrl" />
                <h5>@movie.Name</h5>
            </a>
        </div>
    }
</div>
